<template>
  <div class="categories">
    <div class="breadcrumb-wrap">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品管理</el-breadcrumb-item>
        <el-breadcrumb-item>商品分类</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-button type="primary" icon="el-icon-plus" @click="cateDialogStatus = true">添加分类</el-button>
    <el-table :data="cateLists" style="width: 100%">
      <el-table-column prop="cat_name" label="分类名称" width="180"></el-table-column>
      <el-table-column prop="cat_level" label="级别" width="180"></el-table-column>
      <el-table-column label="是否有效" width="180"></el-table-column>
      <el-table-column label="操作"></el-table-column>
    </el-table>

    <el-dialog title="添加分类" :visible.sync="cateDialogStatus" width="600px">
      <el-form
        :model="cateForm"
        ref="form"
        label-position="right"
        label-width="80px"
        :rules="rules"
      >
        <el-form-item label="分类名称" prop="cateName">
          <el-input v-model="cateForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="分类" prop="cateDesc">
          <el-input v-model="cateForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cateDialogStatus = false">取 消</el-button>
        <el-button type="primary" @click="_addcate">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getCategoriesLists } from "@/http/api";
export default {
  data() {
    return {
      cateDialogStatus: false,
      cateForm: {
        cateName: "",
        cateDesc: ""
      }
    };
  },
  methods: {
    getCategoriesLists() {
      getCategoriesLists().then(res => {
        this.normalOptions = res.data;
      });
    }
  }
};
</script>

<style>
</style>