<template>
  <div class="goods">
    <div class="breadcrumb-wrap">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品管理</el-breadcrumb-item>
        <el-breadcrumb-item>商品列表</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="inpt-wrap">
      <el-input
        placeholder="请输入内容"
        style="width:350px;margin-right:15px;"
        clearable
        v-model="goodsListsParams.query"
        @keyup.enter.native="search"
      >
        <el-button slot="append" icon="el-icon-search" @click.native="search"></el-button>
      </el-input>
      <el-button type="primary" @click="addGoods">添加商品</el-button>
    </div>

    <div class="table-wrap">
      <el-table :data="goods.goods" border style="width: 100%;margin-bottom:20px;">
        <el-table-column type="index"></el-table-column>
        <el-table-column prop="goods_name" label="商品名称" width="180"></el-table-column>
        <el-table-column prop="goods_price" label="商品价格（元）" width="180"></el-table-column>
        <el-table-column prop="goods_weight" label="商品重量"></el-table-column>
        <el-table-column label="创建日期">
          <template slot-scope="scope">
            <span>{{scope.row.add_time | dealCreateDate}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              circle
              size="mini"
              @click="_editUser(scope.row)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              circle
              size="mini"
              @click="_deleteUser(scope.row)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="goodsListsParams.pagenum"
        :page-sizes="[10,20,30,40]"
        :page-size="goodsListsParams.pagesize"
        layout="total,sizes,prev,pager,next,jumper"
        :total="goods.total"
        v-if='goods'
      ></el-pagination>
    </div>
    <!-- <el-dialog title="编辑商品" :visible.sync="editDialogStatus" width="600px"> -->
      <!-- <el-form label-position="right" label-width="80px" :model="editGoodsForm"> -->
        <!-- <el-form-item label="商品价格"> -->
          <!-- <el-input disabled ></el-input> -->
          <!-- v-model="editGoodForm.goodsname" -->
        <!-- </el-form-item> -->
        <!-- <el-form-item label="商品价格"> -->
          <!-- <el-input></el-input>  -->
          <!-- v-model="editUserForm.goodsprice" -->
        <!-- </el-form-item> -->
        <!-- <el-form-item label="商品重量"> -->
          <!-- <el-input></el-input> -->
           <!-- v-model="editUserForm.goodsweight" -->
        <!-- </el-form-item> -->
      <!-- </el-form> -->
      <!-- <span slot="footer" class="dialog-footer"> -->
        <!-- <el-button @click="editDialogStatus = false">取 消</el-button> -->
        <!-- <el-button type="primary" @click="editGood">确 定</el-button> -->
      <!-- </span> -->
    <!-- </el-dialog> -->
  </div>
</template>

<script>
import {
  //   getgoods,
  //   addgoods,
  //   changegoodStatus,
  //   editgoods,
  //   deletegoods,
  getGoodsLists
} from "@/http/api";
import moment from "moment";
export default {
  data() {
    return {
      goodsListsParams: {
        query: "",
        pagenum: 1,
        pagesize: 10
      },
    //   goodsLists: [],
      goods: null,
      //   totalGoods:0,
      //   dialogVisible: false,
      //   editDialogStatus: false,
    //   editGoodForm: {
    //     goodsname: "",
    //     goodsprice: "",
    //     goodsweight: ""
    //   }
      //   roleDialogStatus: false
    };
  },
  methods: {
    //获取商品列表
    getGoodsLists() {
      getGoodsLists(this.goodsListsParams).then(res => {
        this.goods = res.data;
      });
    },
    //分页器页数大小发生变化时触发
    handleSizeChange(val) {
      console.log(val);
      this.goodsListsParams.pagesize = val;
      this.getGoodsLists();
    },
    //分页器当前页码发生变化时触发
    handleCurrentChange(val) {
      console.log(val);
      this.goodsListsParams.pagenum = val;
      this.getGoodsLists();
    },
    search() {
      this.getGoodsLists();
    },
    // 添加商品
    addGoods(){
        this.$router.push({
            name:'addgoods'
        })
    },
    _editGood(val) {
      this.editDialogStatus = true;
      this.editGoodForm.goodsname = val.goodsname;
      this.editGoodForm.goodsprice = val.goodsprice;
      this.editGoodForm.goodsmobile = val.goodsweight;
    },
    editUser() {
      editUsers(this.editUserForm).then(res => {
        this.$message({
          tyep: "success",
          message: "修改商品信息成功"
        });
        this.getGoodsLists();
        this.editDialogStatus = false;
      });
    },
    _deleteUser(val) {
      this.$confirm("是否删除该商品?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        center:true
      })
        .then(() => {
          deleteGoods(val).then(res => {
            this.$message({
              type: "success",
              message: "删除成功!"
            });
            this.getGoodsLists();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  },
  created() {
    this.getGoodsLists();
  }
};
</script>

<style scoped lang="stylus">
.goods {
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;

  .breadcrumb-wrap {
    margin-bottom: 20px;
  }

  .inpt-wrap {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}
</style>