<template>
  <div class="params">
    <div class="breadcrumb-wrap">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品管理</el-breadcrumb-item>
        <el-breadcrumb-item>分类参数</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-alert title="注意：只允许为第三季分类设置参数" type="warning" show-icon></el-alert>
    <el-form :inline="true" style="margin-top:20px">
      <el-form-item label="请选择商品分类">
        <el-cascader
          v-model="goodCatId"
          :options="options"
          :props="{ expandTrigger: 'hover',value: 'cat_id',label: 'cat_name' }"
        ></el-cascader>
      </el-form-item>
    </el-form>
    <el-tabs v-model="activeName" @tab-click="tabClick">
      <el-tab-pane label="动态参数" name="many">
        <el-button type="primary" size="mini">设置动态参数</el-button>
        <el-table :data="tableData" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="商品名称">
                  <span>{{ props.row.name }}</span>
                </el-form-item>
                <el-form-item label="所属店铺">
                  <span>{{ props.row.shop }}</span>
                </el-form-item>
                <el-form-item label="商品 ID">
                  <span>{{ props.row.id }}</span>
                </el-form-item>
                <el-form-item label="店铺 ID">
                  <span>{{ props.row.shopId }}</span>
                </el-form-item>
                <el-form-item label="商品分类">
                  <span>{{ props.row.category }}</span>
                </el-form-item>
                <el-form-item label="店铺地址">
                  <span>{{ props.row.address }}</span>
                </el-form-item>
                <el-form-item label="商品描述">
                  <span>{{ props.row.desc }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column label="商品 ID" prop="id"></el-table-column>
          <el-table-column label="商品名称" prop="name"></el-table-column>
          <el-table-column label="描述" prop="desc"></el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="静态参数" name="second">
        <el-button type="primary" size="mini">设置静态参数</el-button>
        <el-table
          ref="singleTable"
          :data="tableData"
          highlight-current-row
          style="width: 100%"
        >
          <el-table-column type="index" width="50"></el-table-column>
          <el-table-column property="date" label="日期" width="120"></el-table-column>
          <el-table-column property="name" label="姓名" width="120"></el-table-column>
          <el-table-column property="address" label="地址"></el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { getCategoriesLists } from "@/http/api";
export default {
  data() {
    return {
      goodCatId: "",
      options: [],
      activeName: "many",
      tableData: [
        {
          id: "12987122",
          name: "好滋好味鸡蛋仔",
          category: "江浙小吃、小吃零食",
          desc: "荷兰优质淡奶，奶香浓而不腻",
          address: "上海市普陀区真北路",
          shop: "王小虎夫妻店",
          shopId: "10333"
        },
        {
          id: "12987123",
          name: "好滋好味鸡蛋仔",
          category: "江浙小吃、小吃零食",
          desc: "荷兰优质淡奶，奶香浓而不腻",
          address: "上海市普陀区真北路",
          shop: "王小虎夫妻店",
          shopId: "10333"
        },
        {
          id: "12987125",
          name: "好滋好味鸡蛋仔",
          category: "江浙小吃、小吃零食",
          desc: "荷兰优质淡奶，奶香浓而不腻",
          address: "上海市普陀区真北路",
          shop: "王小虎夫妻店",
          shopId: "10333"
        },
        {
          id: "12987126",
          name: "好滋好味鸡蛋仔",
          category: "江浙小吃、小吃零食",
          desc: "荷兰优质淡奶，奶香浓而不腻",
          address: "上海市普陀区真北路",
          shop: "王小虎夫妻店",
          shopId: "10333"
        }
      ]
    };
  },
  methods: {
    getCategoriesLists() {
      getCategoriesLists().then(res => {
        this.options = res.data;
      });
    },
    tabClick(val) {
      console.log(val);
      if (val.name === "2") {
        if (!this.normalData.goods_cat) {
          this.$message.error("请选择商品分类");
        } else {
          getManyAttr(
            this.normalData.goods_cat[this.normalData.goods_cat.length - 1]
          ).then(res => {
            this.normalData.attrs = res.data;
            for (let i = 0; i < this.normalData.attrs.length; i++) {
              this.normalData.attrs[i].attr_vals = this.normalData.attrs[
                i
              ].attr_vals.split(",");
            }
          });
        }
      } else if (val.name === "3") {
        if (!this.normalData.goods_cat) {
          this.$message.error("请选择商品分类");
        } else {
          getOnlyAttr(
            this.normalData.goods_cat[this.normalData.goods_cat.length - 1]
          ).then(res => {
            this.normalData.goods_attrs = res.data;
            console.log(res.data);
          });
        }
      }
    },
    handleClick(val) {
      console.log(val);
    },
    created() {
      this.getCategoriesLists();
    }
  }
};
</script>

<style>
</style>