<template>
  <div class="roles">
    <div class="breadcrumb-wrap">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        <el-breadcrumb-item>角色列表</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-button type="primary" size="mini" icon="el-icon-plus" @click="rolesDialogStatus = true">添加角色</el-button>

    <el-table :data="rolesList" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-row v-for="item in scope.row.children" :key="item.id">
            <el-col :span="4">
              <el-tag closable @close="_deleteRights(scope.row.id, item.id)">{{item.authName}}</el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row v-for="_item in item.children" :key="_item.id">
                <el-col :span="6">
                  <el-tag closable @close="_deleteRights(scope.row.id, _item.id)">{{_item.authName}}</el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="18">
                  <el-tag
                    @close="_deleteRights(scope.row.id, __item.id)"
                    v-for="__item in _item.children"
                    :key="__item.id"
                    closable
                  >{{__item.authName}}</el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column prop="roleName" label="角色名称" width="180"></el-table-column>
      <el-table-column prop="roleDesc" label="角色描述" width="180"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="mini"
            @click="_editRoles(scope.row)"
          ></el-button>
         <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="mini"
            @click="_deleteUser(scope.row)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            size="mini"
            @click="_changeRole(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="添加角色" :visible.sync="rolesDialogStatus" width="600px">
      <el-form
        :model="roleForm"
        ref="form"
        label-position="right"
        label-width="80px"
        :rules="rules"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="roleForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="roleForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="rolesDialogStatus = false">取 消</el-button>
        <el-button type="primary" @click="_addRoles">确 定</el-button>
      </div>
    </el-dialog>
     <el-dialog title="分配权限" :visible.sync="dialogVisible">
      <el-tree
        ref="tree"
        :data="allRights"
        show-checkbox
        node-key="id"
        :fullscreen="true"
        default-expand-all
        :props="defaultProps"
      ></el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="updateRights">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { 
  getRolesList, 
  deleteRights, 
  addRoles,
  deleteRoles
} from "@/http/api";
// import "@/stylus/index.styl";
export default {
  data() {
    function validate(rule, value, callback) {
      if (value == 123) {
        callback(new Error("不能是123"));
      } else {
        callback();
      }
    }
    return {
      rolesList: [],
      rolesDialogStatus: false,
      dialogVisible:false,
      allRights: [],
      defaultProps: {
        label: "authName"
      }, 
      choosedRole: null,
      roleForm: {
        roleName: "",
        roleDesc: ""
      },
      rules: {
        roleName: [
          {
            required: true,
            message: "不能为空",
            trigger: "blur"

          },
          {
            validator: validate,
            trigger: ["blur", "change"]
            
          }
        ]
      }
    };
  },
  methods: {
    //获取角色列表
    _getRolesList() {
      getRolesList().then(res => {
        this.rolesList = res.data;
      });
    },

    // 获取所有权限列表
    _changeRole(val){
      this.choosedRole=val;
      console.log(val);
      this.$http("rights/tree").then(res=>{
        this.dialogVisible=true;
        this.allRights=res.data;
        this.$nextTick(()=>{
        this.$refs.tree.setCheckedNodes(val.children);
        })
      })
    },
    //修改权限操作
    updateRights() {
      let ridsStr = this.$refs.tree
        .getCheckedKeys()
        .concat(this.$refs.tree.getHalfCheckedKeys())
        .join();
      console.log(ridsStr);
      this.$http(
        `roles/${this.choosedRole.id}/rights`,
        {
          rids: ridsStr
        },
        "post"
      ).then(res => {
        this.$message({
          message: res.meta.msg,
          type: "success"
        });
        this.dialogVisible = false;
        this.getRoles();
      });
    },
    // //删除角色
    // _deleteRights(roleId,rigthsId){
    //   this.$http(`roles/${roleId}/right`)
    // }
    //删除权限
    _deleteRights(roleId, rigthsId) {
      deleteRights(roleId, rigthsId).then(res => {
        this.$message({
          message:res.meta.msg,
          type:"success"
        })
        this._getRolesList();
      });
    },


   _deleteUser(val) {
      this.$confirm("是否删除该商品?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          deleteRoles(val).then(res => {
            this.$message({
              type: "success",
              message: "删除成功!"
            });
            this._getRolesList();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //添加角色
    _addRoles() {
      this.$refs.form.validate(validate => {
        if (validate) {
          addRoles(this.roleForm).then(res => {
            this.$message({
              type: "success",
              message: "添加成功"
            });
            this.rolesDialogStatus = false;
            this.$refs.form.resetFields()
            this._getRolesList();
          });
        }
      });
    }

  },
  created() {
    this._getRolesList();
  }
};
</script>
<style scoped lang="stylus">
.roles
  padding 15px
  background #fff
  border-radius 10px
  .breadcrumb-wrap
    margin-bottom 20px
</style>
