<template>
  <div class="orders">
    <div class="breadcrumb-wrap">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>订单管理</el-breadcrumb-item>
        <el-breadcrumb-item>订单列表</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="table-wrap">
      <el-table :data="userLists" border style="width: 100%;margin-bottom:20px;">
        <el-table-column type="index"></el-table-column>
        <el-table-column prop="username" label="订单编号" width="180"></el-table-column>
        <el-table-column prop="email" label="订单价格" width="180"></el-table-column>
        <el-table-column prop="mobile" label="是否付款"></el-table-column>
        <el-table-column prop="mobile" label="是否发货"></el-table-column>
        <el-table-column label="下单时间">
          <template slot-scope="scope">
            <span>{{scope.row.create_time | dealDate}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" size="mini" @click="_editUser(scope.row)"></el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="usersOptions.pagenum"
        :page-sizes="[10,20,30,40]"
        :page-size="usersOptions.pagesize"
        layout="total,sizes,prev,pager,next,jumper"
        :total="totalSize"
      ></el-pagination>
    </div>

    <el-dialog title="编辑用户" :visible.sync="editDialogStatus" width="600px">
      <el-form label-position="right" label-width="80px" :model="editUserForm">
        <el-form-item label="用户名">
          <el-input disabled v-model="editUserForm.username"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="editUserForm.email"></el-input>
        </el-form-item>
        <el-form-item label="电话">
          <el-input v-model="editUserForm.mobile"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogStatus = false">取 消</el-button>
        <el-button type="primary" @click="editUser">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getUsers,
  addUsers,
  changeUserStatus,
  editUsers,
  deleteUsers,
  getRolesList,
  getUserInfoById,
  editRole
} from "@/http/api";
import moment from "moment";
export default {
  data() {
    function validates(rule, value, callback) {
      if (value === "admin") {
        callback(new Error("用户名admin"));
      } else {
        callback();
      }
    }
    return {
      usersOptions: {
        query: "",
        pagenum: 1,
        pagesize: 8
      },
      userLists: [],
      totalSize: 0,
      dialogVisible: false,
      userForm: {
        username: "",
        password: "",
        email: "",
        mobile: ""
      },
      test: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          {
            validator: validates
          }
        ]
      },
      validateForm: {
        username: "",
        password: "",
        email: "",
        mobile: ""
      },
      editDialogStatus: false,
      editUserForm: {
        username: "",
        email: "",
        mobile: "",
        id: ""
      },
      roleDialogStatus: false,
      roleForm: {
        username: "",
        id: "",
        rid: "",
        roleName: ""
      },
      roleList: [
        {
          id: 0,
          roleName: ""
        }
      ]
    };
  },
  methods: {
    go() {
      console.log(123);
    },
    //分页器页数大小发生变化时触发
    handleSizeChange(val) {
      // this.usersOptions.pagesize = val
      // getUsers(this.usersOptions).then(res => {
      //   this.userLists = res.data.users
      //   this.totalSize = res.data.total
      // })
      this._getUsers("pagesize", val);
    },
    //分页器当前页码发生变化时触发
    handleCurrentChange(val) {
      // this.usersOptions.pagenum = val
      // getUsers(this.usersOptions).then(res => {
      //   this.userLists = res.data.users
      //   this.totalSize = res.data.total
      // })
      this._getUsers("pagenum", val);
    },
    //获取用户列表
    _getUsers(params, val) {
      if (params) {
        this.usersOptions[params] = val;
      }
      getUsers(this.usersOptions).then(res => {
        this.userLists = res.data.users;
        this.totalSize = res.data.total;
      });
    },
    search() {
      this._getUsers();
    },
    handleClose() {},
    //添加用户弹窗展示
    addUser() {
      this.dialogVisible = true;
    },
    //添加用户
    doAddUser() {
      addUsers(this.userForm).then(res => {
        this.$message({
          type: "success",
          message: "添加成功"
        });
        this.dialogVisible = false;
        this.clearData();
        this._getUsers();
      });
    },
    clearData() {
      for (item in this.userForm) {
        this.userForm[item] = "";
      }
    },
    _changeUserStatus(val) {
      changeUserStatus(val).then(res => {
        this.$message({
          type: "success",
          message: "修改用户状态成功"
        });
        this._getUsers();
      });
    },
    _editUser(val) {
      this.editDialogStatus = true;
      this.editUserForm.username = val.username;
      this.editUserForm.email = val.email;
      this.editUserForm.mobile = val.mobile;
      this.editUserForm.id = val.id;
    },
    editUser() {
      editUsers(this.editUserForm).then(res => {
        this.$message({
          tyep: "success",
          message: "修改用户信息成功"
        });
        this._getUsers();
        this.editDialogStatus = false;
      });
    },
    _deleteUser(val) {
      this.$confirm("是否删除该用户?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          deleteUsers(val).then(res => {
            this.$message({
              type: "success",
              message: "删除成功!"
            });
            this._getUsers();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //获取角色列表
    _getRolesList() {
      getRolesList().then(res => {
        this.roleList = res.data;
      });
    },
    //回显角色
    _changeRole(val) {
      this.roleDialogStatus = true;
      this._getRolesList();
      getUserInfoById(val).then(res => {
        this.roleForm.rid = res.data.rid;
        this.roleForm.username = res.data.username;
        this.roleForm.id = res.data.id;
      });
    },
    //确认修改用户角色
    _editRole() {
      editRole(this.roleForm).then(res => {
        this.$message({
          type: "success",
          message: "修改权限成功"
        });
        this.roleDialogStatus = false;
        this._getUsers();
      });
    }
  },
  created() {
    // getUsers(this.usersOptions).then(res => {
    //   this.userLists = res.data.users
    //   this.totalSize = res.data.total
    // })
    this._getUsers();
  },
  filters: {
    dealDate(val) {
      return moment(val).format("YYYY-MM-DD");
    }
  }
};
</script>

<style scoped lang="stylus">
.orders {
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
}
</style>